/* .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* background-color: #1b263b; 
    margin-bottom: 10px;
}


.header_links {
    width: 40%;
    
} */

ul {
    display: flex;
    justify-content: space-around;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e0e1dd;
}