@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300;500&display=swap');

body {
  margin: 0;
  /* font-family: "Avenir Medium", sans-serif; */
  font-family: 'Rubik';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
  color: #e0e1dd;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */